.add-tocart{
    background-color: rgb(236, 236, 105);
    color: black;
    width: 95px;
    height: 30px;
    border-style: hidden;
    border-radius: 47px;
    margin-right: 8px;
    cursor: pointer;
    transition: background-color 2s;
    color: 2s; 

}
.add-tocart:hover{
    background-color: rgb(134, 134, 11) ;
    color: rgb(182, 28, 28);
}
.add-tocart:active{
    opacity: 0.7;
}
.buy-now{
    background-color:rgb(247, 165, 12) ;
    color: black;
    width: 96px;
    height: 30px;
    border-style: hidden;
    border-radius: 47.5px;
    transition: background-color 1s;
    
}
.buy-now:hover{
    background-color:rgb(210, 98, 6) ;
}
.buy-now:active{
  opacity: 0.6;
}

.nike{
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0px;

}
.stock{
    padding-left: 75px;
    margin-top: 7px;
    font-size: 16px;
    color: rgb(7, 7, 84);
}
.home{
    font-family: Arial;
    font-size: 18px;
    color:blue;
    font-weight: bold;   
}