
     .video-title {
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        width: 300px;
        line-height: 20px;
        margin-bottom: 5px;
     }
     .video-stats{
        color: rgb(96, 87, 87);
        font-family: arial;
        font-size: 14px;
        margin-top: 3px;
        
     }
     .author{
        color:rgb(96, 87, 87);
        font-family: arial;
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 16px;
     }
     .sundar{
        color: rgb(96, 87, 87);
        font-family: arial;
        font-size: 14px;
        line-height: 22px;
        width: 270px;
        margin-top: 0px;
        margin-bottom: 35px;
     }
     .apple{
        font-family: arial;
        font-size: 14px;
        background-color: red;
        color: white;
        text-align: center;
        padding-bottom: 13px;
        padding-top: 13px;
     }
     .shop-now:hover {
        text-decoration: underline;
        cursor: pointer;
     }
     .shop-now{
        margin-left: 6px;
     }
     .home{
        font-family: Arial;
        font-size: 18px;
        font-weight: bolder;
        color: blue;
     }